<?xml version="1.0" encoding="utf-8"?>
<configuration>


<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SIESC_WEB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" /></startup><applicationSettings>
        <SIESC_WEB.Properties.Settings>
            <setting name="geocodeKey" serializeAs="String">
                <value>AIzaSyBM9ETUuya2WEeUapukzPET4Y4z4gX_ivY</value>
            </setting>
            <setting name="georrefKey" serializeAs="String">
                <value>ED25C1414AE44848931E357D85658460</value>
            </setting>
            <setting name="distanceMatrixkey" serializeAs="String">
                <value>AIzaSyCOYo-wA7g_MYM_8E5c0L-KRsndXJlUlbI</value>
            </setting>
        </SIESC_WEB.Properties.Settings>
    </applicationSettings>
</configuration>