<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net471" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="140.1000.523" targetFramework="net471" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net471" />
  <package id="MySql.Data" version="8.0.12" targetFramework="net471" />
  <package id="MySql.Fabric" version="6.9.12" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
</packages>