<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net471" />
  <package id="Google.Protobuf" version="3.8.0" targetFramework="net471" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.900.148" targetFramework="net471" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WinForms.Preview" version="130.1700.305" targetFramework="net471" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net471" />
  <package id="MySql.Data" version="8.0.16" targetFramework="net471" />
  <package id="MySql.Fabric" version="6.9.12" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net471" />
</packages>